In [32]:
#Assignment 3 Solutions

In [48]:
#Solution 1.1:

In [34]:
def myreduce(list):
    product = 1
    for i in list:
        product *= i
    return(product)

In [35]:
data = [2,3,4,5,6]

In [36]:
myreduce(data)

720

In [49]:
#Solution 1.2:

In [41]:
def myfilter(data):
    new_data = []
    for i in data:
        if i % 2 == 0:
            new_data.append(i)
    return (new_data)

In [45]:
number = list(range(0,21))

In [46]:
number

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [47]:
myfilter(number)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [50]:
#Solution 2:

In [56]:
word = 'ACADGILD'

In [57]:
print([word[i:i+1] for i in range (0,len(word),1)])

['A', 'C', 'A', 'D', 'G', 'I', 'L', 'D']

In [71]:
letter = ['x','y','z']

In [72]:
num = [1,2,3,4]

In [73]:
data = [(i*j) for i in letter for j in num]

In [74]:
data

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [76]:
alter_data = [(i*j) for i in num for j in letter]

In [77]:
alter_data

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [78]:
num_list = [[i+j] for i in range(1,4) for j in range (1,4)]

In [79]:
num_list

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [80]:
num_list2 = [[i+j for i in range(1,5)]for j in range(1,5)]

In [81]:
num_list2

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [82]:
alpha = [1,2,3]

In [83]:
new_alpha = [(a,b) for a in alpha for b in alpha]

In [84]:
new_alpha

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]

In [85]:
#Solutions 3:

In [86]:
def longestword(wordlist):
    max_len = len(max(wordlist , key = len))
    return [word for word in wordlist if len (word) == max_len]

In [87]:
list_of_words = ['value', 'deepak', 'dinosaur','peacock','lion']

In [88]:
longestword(list_of_words)

['dinosaur']